/*
	@theme CappuccinoMod
	@override-placeholders ruby, css, html, bash
  	@author Bernhard Rosensteiner
*/

:document-base {
	color: hsl(0, 2%, 78%);
	background-color: hsla(35, 10%, 12%, 0.99);
	insertion-point-color: #fff;
	selection-background-color: hsl(220, 4%, 50%);
	current-line-background-color: hsl(0, 0%, 15%);
}

shebang {
	color: hsl(0, 84%, 51%);
	font-weight: bold;
	background-color: #555;
}

keyword.control {
	color: hsl(31, 84%, 50%);
	font-weight: bold;
}
keyword.unit {
	color: hsl(31, 84%, 40%);
	font-weight: bold;
}
keyword.important {
	color: hsl(238, 77%, 60%);
	font-weight: bold;
}
keyword.other,
keyword {
	color: hsl(238, 77%, 64%);
}

operator.unary,
operator.binary,
operator.assignment,
operator.comparison,
operator.logical {
	color: hsl(330, 64%, 51%);
	font-weight: bold;
}
operator {
	color: hsl(330, 64%, 51%);
}
selector,
storage.type,
global {
	color: hsl(204, 85%, 31%);
}
global {
	font-weight: bold;
}

property-list.block > punctuation.begin,
property-list.block > punctuation.end,
delimiter.bracket,
open-bracket, close-bracket,
open.brace.square, close.brace.square,
open.bracket, close.bracket {
	color: hsl(16, 90%, 52%);
	font-weight: bold;
}

css > comma {
	color: hsl(16, 90%, 52%);
}

property-value > separator,
punctuation.period,
punctuation.colon,
punctuation.terminator,
punctuation.backslash,
property-list > punctuation.begin, property-list > punctuation.end,
open-brace, close-brace,
open.brace.round, close.brace.round,
open.brace.curly, close.brace.curly,
open-parenthesis, close-parenthesis {
	color: hsl(0, 0%, 100%);
	font-weight: bold;
}

namespace,
tag > attribute-with-value > string.quoted {
	color: hsl(0, 95%, 66%);
}

processing-instruction {
	color: hsl(0, 0%, 68%);
}

tag > name,
identifier.function,
support.function,
function-call {
	color: hsla(42, 91%, 72%, 0.8);
}

class > name,
function > name,
css.embedded attribute-name,
css.embedded punctuation.definition.tag {
	color: hsl(40, 80%, 78%);
	font-weight: bold;
}

property-value,
vvariable,
method {
	color: hsl(96, 19%, 56%);
}
property,
property-name {
	color: hsl(200, 95%, 60%);
}

variable {
	color: hsl(96, 30%, 50%);
}

characters,
tag,
attribute-name,
punctuation.definition.tag {
	color: #f4daa9;
}

comment,
tag.doctype,
tag.doctype > *,
tag.doctype > string.quoted {
	color: hsl(0, 2%, 40%);
	font-weight: bold;
}

punctuation.section,
string.quoted > punctuation {
	color: hsl(0, 0%, 100%);
}
string.quoted-alt {
	bluebackground-color: #f4f9fe;
	color: hsl(179, 72%, 36%);
}

escape,
escapes,
escaped,
string.quoted {
	color: hsl(35, 30%, 40%);
}
escape,
escapes,
escaped {
	font-weight: bold;
}

js.embedded {
	color: hsl(0, 0%, 26%);
}


numeric,
constant.language {
	color: hsl(0, 0%, 100%);
	background-color: #555;
}

invalid,
comment.task {
	background-color: hsl(0, 94%, 58%);
	color: hsl(50, 78%, 89%);
}

textile > header,
tag.h1,
tag.h1 *,
tag > string > punctuation {
	font-weight: bold;
}

/* @group regex */
regex constant.shorthand {
	color: hsl(330, 64%, 51%);
}
regex constant.character {
	color: hsl(35, 30%, 40%);
}
regex literals.sequence {
	color: hsl(330, 80%, 51%);
}
regex punctuation {
	color: hsl(0, 0%, 100%);
	font-weight: bold;
}
regex group.noncapturing > punctuation.definition.begin,
regex group.noncapturing > punctuation.definition.end {
	color: hsl(0, 100%, 80%);
}
regex group > punctuation.definition.begin,
regex group > punctuation.definition.end {
	color: hsl(0, 50%, 80%);
}
regex operator,
regex character-class > punctuation.definition.begin,
regex character-class > punctuation.definition.end {
	color: hsl(0, 100%, 30%);
	font-weight: bold;
}
regex character-class constant, regex character-class operator, regex character-class punctuation {
	font-weight: normal;
}
/* @end */

/* @group Lua */

lua.operator.lenght {
	color: hsl(330, 64%, 51%);
	font-weight: bold;
}
lua.function-call.table-key,
lua.punctuation.table-call {
	color: hsl(0, 0%, 49%);
	font-weight: bold;
}

lua.keyword.character-class {
 		color: hsl(355, 61%, 55%);
}
lua.table.separator {
	color: hsl(39, 30%, 38%);
}
lua.container > delimiter.comma,
lua.function-argument > delimiter.comma {
	color: hsl(0, 94%, 58%);
}

/* @end */

/* @group Tcl */
tcl.dollar,
tcl.container.evaluate-array > evaluate,
tcl.variable.punctuation {
	font-weight:bold;
}

tcl.argument-expansion,
tcl.control + s + tcl-unary,
tcl.control + s + container > tcl-unary,
tcl.function-call[text='expr'] + s + tcl-unary,
tcl.function-call[text='expr'] + s + container tcl-unary,
tcl.mathop + tcl-operator,
tcl.subst + tcl-operator,
tcl.subst + s + tcl-operator,
tcl.numeric + s + tcl-operator,
tcl.numeric + tcl-operator,
tcl.container + tcl-operator,
tcl.container + s + tcl-operator {
	color: hsl(330, 64%, 51%);
	font-weight: bold;
}
tcl.unset-var {
	color: hsl(0, 79%, 50%);
	font-style: italic;
}
tcl.format-specifier {
	color: hsl(204, 69%, 48%);
}
tcl.format-type {
	font-weight:bold;
}

tcl.namespace {
	color: hsl(0, 0%, 100%);
	font-weight: bold;
}

/* @end */

/* @group ConTeXt */

context.between.brackets > key-name {
	color: hsl(200, 95%, 52%);
}

context.section,
context.function.place-complete,
context.table.cell,
context.table.row {
	font-weight: bold;
	background-color: hsl(0, 0%, 50%);
}

context.between.brackets > comma,
context.support.function + brace > comma,
context.support.function + brace + brace > comma,
context.support.function + brace + brace + brace > comma,
context.key-name[text='location'] + assignment + brace > comma,
context.key-name[text='align'] + assignment + brace > comma,
context.key-name[text='background'] + assignment + brace > comma,
context.balanced.bracket:has-child(function[text='\\definecolorgroup']) + bracket colon {
	color: hsl(330, 64%, 51%);
	font-weight: bold;
}

tex.begin.math,
tex.end.math {
	color: hsl(299, 100%, 25%);
	font-weight: bold;
}
/* @end */

/* @group MetaFun */

metafun.balanced.parentheses_and_braces > comma {
	color: hsl(0, 94%, 58%);
}

/* @end */

/* @group TeX */
tex.begin,
tex.end {
	color: hsl(16, 90%, 52%);
}
tex.command {
	color: hsl(37, 89%, 79%);
}
/* @end */
