/*
	@theme CappuccinoMod
	@override-placeholders ruby, css, html, php
  	@author Bernhard Rosensteiner - adapted for Expresso 2 with Regex.sugar support. Based on Anthony Short´s Cappuccino theme, which is based on the Railcasts theme
*/

:document-base {
	color: #999;
	background-color: #222;
	insertion-point-color: #fff;
	selection-background-color: rgba(200, 121, 54, 0.3);
	current-line-background-color: rgba(251,233,173,0.1);
}

tag, 
source,
language-root,
sourcecode,
css {
	spell-check: disabled;
}

keyword.operator,
regex quantifier,
regex negated,
regex identifier.any {
	color: #c87162;
}
regex begin,
regex end,
regex operator {
	color: #ffffff;
	font-weight: bold;
}
regex container begin,
regex container end,
open-bracket,
close-bracket {
	color: rgba(251, 90, 90, 1.00);
}

processing-instruction {
	color:#aeaeae;
}

selector,
php builtin_function name,
function > name,
css.embedded attribute-name,
css.embedded punctuation.definition.tag {
	color: rgba(251, 199, 111, 1.00);
}

property-name,
tag,
variable,
variable>punctuation,
attribute-name,
punctuation.definition.tag {
	color: rgba(112, 155, 190, 1.00);
}

tag>name,
support.function,
function-call,
storage.type {
	color: rgb(73, 134, 185);
}

property-value, vvariable {
	color: rgba(164, 194, 97, 1.00);
}

php php.begin *,
php keyword.modifier,
tag > string.quoted,
tag > attribute-with-value > string.quoted{
	color: rgba(251, 90, 90, 1.00);
}

keyword.important,
storage.type,
control,
character-class.escape {
	color: rgba(200, 121, 54, 1.00);
	font-weight: bold;
}

comment,
comment>punctuation,
tag.doctype,
tag.doctype > *,
tag.doctype > string.quoted {
	color: #555;
}

balanced {
	color: #999;
}

string.quoted-alt {
	bluebackground-color: #f4f9fe;
	color: #1aa1a1;
	background-color: rgba(235,252,254,0.5);
}
string.quoted {
	color: rgba(164, 194, 97, 1.00);
}
string.quoted > punctuation {
	color: rgba(164, 194, 97, 0.8);
}
string.quoted > escape {
	font-weight: bold;
	color: rgba(164, 194, 97, 0.6);
	background-color: rgba(251,233,173,0.2);
}

js.embedded {
	color: #434343;
}

constant.numeric, constant.language {
	color: #ffffff;
	background-color: #555;
}

invalid {
	background-color: #f93232;
	color: #f9f2ce;
}

textile > header,
tag.h1,
tag.h1 *,
tag > string > punctuation {
	font-weight: bold;
}