/*
	@theme CappuccinoMod
	@override-placeholders ruby, css, html, php
  	@author Bernhard Rosensteiner
*/

:document-base {
	color: #999;
	background-color: rgba(25, 25, 25, 0.95);
	insertion-point-color: #fff;
	selection-background-color: rgba(200, 89, 48, 0.3);
	current-line-background-color: rgba(100, 100, 100, 0.4);
}

shebang {
	color: #ec1919;
}
punctuation.terminator,
regex begin,
regex end,
regex operator {
	color: #ffffff;
	font-weight: bold;
}
control {
	color: #e88313;
	font-weight: bold;
}
keyword.unit {
	color: #d33682;
	font-weight: bold;
}
numeric {
        color: #7653c1;
}

global {
	color: #268bd2;
	font-weight: bold;
}
open-brace, close-brace,
open-parenthesis, close-parenthesis {
	color: #ffffff;
	font-weight: bold;
}
open-bracket,
close-bracket {
	color: #f35519;
	font-weight: bold;
}
/* @group Lua */
lua.keyword.local {
	color: #268bd2;
}
lua.metamethod {
	color: #d44950;
}
lua.keyword.additional.magic-character {
	color: #86bcff;
	font-weight: bold;
}

/* @end */
/* @group Tcl */
tcl.container.evaluate-array > evaluate,
tcl.variable.punctuation {
	color: #8BA57A;
}

tcl.argument-expansion,
tcl.control + s + unary,
tcl.control + s + container > unary,
tcl.function-call[text='expr'] + s + unary,
tcl.function-call[text='expr'] + s + container unary,
tcl.definition + keyword.tcl-operator,
tcl.definition + s + keyword.tcl-operator,
tcl.numeric + s + keyword.tcl-operator,
tcl.numeric + keyword.tcl-operator,
tcl.container + keyword.tcl-operator,
tcl.container + s + keyword.tcl-operator {
	color: #d33682;
	font-weight: bold;
}
tcl.unset-var {
	color: #e51c1c;
	font-style: italic;
}
tcl.format-specifier {
	color: #268bd2;
}
tcl.format-type {
	font-weight:bold;
}

tcl.namespace,
tcl.command-nextline,
tcl.terminator {
	color: #ffffff;
	font-weight: bold;
}

/* @end */

/* @group ConTeXt */

context.support.variable.define {
	color: #B10004;
	font-weight: bold;
}

context.balanced.bracket > key-name {
	color: #15A8F9;
}


context.structural.float {
	background-color: #4f4f4f;
}

context.begin.math,
context.end.math {
	color: #800080;
	font-weight: bold;
}

context.balanced.bracket > support.function ~ punctuation.separator.comma,
context.balanced.bracket + balanced.bracket > punctuation.separator.comma,
context.balanced.bracket + balanced.bracket + balanced.bracket > punctuation.separator.comma,
context.support.function + balanced.bracket > punctuation.separator.comma,
context.context.key-name[text='location'] + keyword.operator.assignment + brace > punctuation.separator.comma,
context.context.key-name[text='align'] + keyword.operator.assignment + brace > punctuation.separator.comma,
context.context.key-name[text='background'] + keyword.operator.assignment + brace > punctuation.separator.comma,
keyword.operator,
regex quantifier,
regex negated,
regex identifier.any {
	color: #d33682;
	font-weight: bold;
}
keyword.operator.logical {
	font-weight: bold;
}
regex container begin,
regex container end,
php php.begin *,
php keyword.modifier,
tag > attribute-with-value > string.quoted {
	color: rgba(251, 90, 90, 1.00);
}

processing-instruction {
	color:#aeaeae;
}

php builtin_function name,
function > name,
css.embedded attribute-name,
css.embedded punctuation.definition.tag {
	color: #F9EA99;
	font-weight: bold;
	font-style: italic;
}

class > name {
	color: #f9d599;
	font-weight: bold;
	font-style: italic;
}

characters,
tag,
variable,
attribute-name,
punctuation.definition.tag {
	color: #f4daa9;
}

property-name {
	color: rgba(38, 138, 209, 0.5);
}

tag>name,
support.function,
function-call,
storage.type {
	color: rgba(249, 212, 123, 0.8);
}

property-value, vvariable {
	color: #8BA57A;
}

keyword.important,
storage.type,
escape,
escapes,
escaped {
	color: #996600;
} {
	color: #d6752b;
	font-weight: bold;
}

comment,
tag.doctype,
tag.doctype > *,
tag.doctype > string.quoted {
	color: #555;
}

balanced,
punctuation.section,
string.quoted > punctuation {
	color: #ffffff;
}

string.quoted-alt {
	bluebackground-color: #f4f9fe;
	color: #1aa1a1;
	background-color: rgba(235,252,254,0.5);
}
string.quoted {
	color: #a37720;
}
selector {
	color: rgb(127, 89, 48);
}
string.quoted > escape {
	font-weight: bold;
	color: rgb(127, 89, 48);
	background-color: rgba(251, 233, 173, 0.08);
}

js.embedded {
	color: #434343;
}

constant.numeric, constant.language {
	color: #ffffff;
	background-color: #555;
}

invalid {
	background-color: #f93232;
	color: #f9f2ce;
}

textile > header,
tag.h1,
tag.h1 *,
tag > string > punctuation {
	font-weight: bold;
}
/* @end */

/* @group Metafun */
keyword.datatype.metafun {
	color: #e8e827;
}
keyword.metafun {
	color: #ee8023;
}
keyword.other.metafun {
	color: #e73e09;
}
open-parenthesis.metafun, close-parenthesis.metafun {
	color: #ec1919;
}
/* @end */