/*
	@theme CappuccinoMod
	@override-placeholders ruby, html, css, html, bash, regex
  	@author Bernhard Rosensteiner
*/

:document-base {
	color: #586e75;
	background-color: #fdf6e3;
	insertion-point-color: #002b36;
	selection-background-color: #93a1a1;
	current-line-background-color:  #eee8d5;
}

shebang {
	color: #073642;
	font-weight: bold;
	background-color: #555;
}

keyword.control {
	color: #859900;
	font-weight: bold;
}
keyword.unit {
	color: #859900;
}
keyword.important {
	color: #859900;
	font-weight: bold;
}
keyword.other,
keyword {
	color: #859900;
}

operator.unary,
operator.binary,
operator.assignment,
operator.comparison,
operator.logical {
	color: #cb4b16;
	font-weight: bold;
}
operator {
	color: #cb4b16;
}
selector,
storage.type,
global {
	color: #cb4b16;
}
global {
	font-weight: bold;
}

property-list.block > punctuation.begin,
property-list.block > punctuation.end,
delimiter.bracket,
open-bracket, close-bracket,
open.brace.square, close.brace.square,
open.bracket, close.bracket {
	color: #586e75;
	font-weight: bold;
}

css > comma {
	color: #586e75;
}

property-value > separator,
punctuation.period,
punctuation.colon,
punctuation.terminator,
punctuation.backslash,
property-list > punctuation.begin, property-list > punctuation.end,
open-brace, close-brace,
open.brace.round, close.brace.round,
open.brace.curly, close.brace.curly,
open-parenthesis, close-parenthesis {
	color: #586e75;
	font-weight: bold;
}

namespace,
tag > attribute-with-value > string.quoted {
	color: #859900;
}

processing-instruction {
	color: #586e75;
}

tag > name,
identifier.function,
support.function,
function-call {
	color: #cb4b16;
}

class > name,
function > name,
css.embedded attribute-name,
css.embedded punctuation.definition.tag {
	color: #268bd2;
	font-weight: bold;
}

property-value,
vvariable,
method {
	color: #586e75;
}
property,
property-name {
	color: #268bd2;
}

variable {
	color: #586e75;
}

characters,
tag,
attribute-name,
punctuation.definition.tag {
	color: #586e75;
}

comment,
tag.doctype,
tag.doctype > *,
tag.doctype > string.quoted {
	color: #93a1a1;
}

punctuation.section,
string.quoted > punctuation {
	color: #dc322f;
}
string.quoted-alt {
	bluebackground-color: #f4f9fe;
	color: #dc322f;
}

escape,
escapes,
escaped,
string.quoted {
	color: #2aa198;
}
escape,
escapes,
escaped {
	font-weight: bold;
}

js.embedded {
	color: #586e75;
}


numeric,
constant.language {
	color: #b58900;
}

invalid,
comment.task {
	background-color: hsl(0, 94%, 58%);
	color: #586e75;
}

textile > header,
tag.h1,
tag.h1 *,
tag > string > punctuation {
	font-weight: bold;
}

/* @group regex */
regex constant.shorthand {
	color: hsl(330, 64%, 51%);
}
regex constant.back-reference {
	color: hsl(320, 64%, 51%);
}
regex constant.character {
	color: hsl(35, 30%, 40%);
}
regex literals.sequence {
	color: hsl(330, 80%, 51%);
}
regex punctuation {
	color: hsl(0, 0%, 100%);
	font-weight: bold;
}
regex group.noncapturing > punctuation.definition.begin,
regex group.noncapturing > punctuation.definition.end {
	color: hsl(0, 100%, 80%);
}
regex group > punctuation.definition.begin,
regex group > punctuation.definition.end {
	color: hsl(0, 50%, 80%);
}
regex operator,
regex character-class > punctuation.definition.begin,
regex character-class > punctuation.definition.end {
	color: #cb4b16;
	font-weight: bold;
}
regex constant.character, regex character-class constant, regex character-class operator, regex character-class punctuation {
	font-weight: normal;
}
/* @end */

/* @group Lua */

lua.operator.lenght {
	color: #cb4b16;
	font-weight: bold;
}
lua.function-call.table-key,
lua.punctuation.table-call {
	color: hsl(0, 0%, 49%);
	font-weight: bold;
}

lua.keyword.character-class {
 		color: hsl(355, 61%, 55%);
}
lua.table.separator {
	color: #dc322f;
}
lua.container > delimiter.comma,
lua.function-argument > delimiter.comma {
	color: #d33682;
}

/* @end */

/* @group Tcl */
tcl.dollar,
tcl.container.evaluate-array > evaluate,
tcl.variable.punctuation {
	font-weight:bold;
}

tcl.argument-expansion,
tcl.control + s + tcl-unary,
tcl.control + s + container > tcl-unary,
tcl.function-call[text='expr'] + s + tcl-unary,
tcl.function-call[text='expr'] + s + container tcl-unary,
tcl.mathop + tcl-operator,
tcl.subst + tcl-operator,
tcl.subst + s + tcl-operator,
tcl.numeric + s + tcl-operator,
tcl.numeric + tcl-operator,
tcl.container + tcl-operator,
tcl.container + s + tcl-operator {
	color: #cb4b16;
	font-weight: bold;
}
tcl.unset-var {
	color: hsl(0, 79%, 50%);
	font-style: italic;
}
tcl.format-specifier {
	color: hsl(204, 69%, 48%);
}
tcl.format-type {
	font-weight:bold;
}

tcl.namespace {
	color: hsl(0, 0%, 100%);
	font-weight: bold;
}

/* @end */

/* @group ConTeXt */

context.between.brackets > key-name {
	color: #268bd2;
}

context.section,
context.function.place-complete,
context.table.cell,
context.table.row {
	font-weight: bold;
	background-color: hsl(0, 0%, 90%);
}

context.between.brackets > comma,
context.support.function + brace > comma,
context.support.function + brace + brace > comma,
context.support.function + brace + brace + brace > comma,
context.key-name[text='location'] + assignment + brace > comma,
context.key-name[text='align'] + assignment + brace > comma,
context.key-name[text='background'] + assignment + brace > comma,
context.balanced.bracket:has-child(function[text='\\definecolorgroup']) + bracket colon {
	color: #d33682;
	font-weight: bold;
}

tex.begin.math,
tex.end.math {
	color: #6c71c4;
	font-weight: bold;
}
/* @end */

/* @group MetaFun */

metafun.balanced.parentheses_and_braces > comma {
	color: #dc322f;
}

/* @end */

/* @group TeX */
tex.begin,
tex.end {
	color: #dc322f;
}
tex.command {
	color: #dc322f;
}
/* @end */
