/*
	@theme CappuccinoMod
	@override-placeholders html, css, bash, regex, python, lua 
  	@author Bernhard Rosensteiner
*/

:document-base {
	color: #657B83;
	background-color: #073642;
	insertion-point-color: #FDF6E3;
	insertion-point-width: 2px;
	selection-background-color: #EEE8D5;
	current-line-background-color:  rgba(1, 1, 1, .24);
}


*:not(comment) {
	spell-check: disabled;
}

shebang {
	color: #657B83;
	background-color: #EEE8D5;
}

modifier,
constant.character,
constant.character > punctuation,
escape, escapes, escaped {
	color: #2aa198;
	font-weight: bold;
}

operator {
	color: #cb4b16;
}
operator.comparison {
	font-weight: bold;
}

keyword.function,
keyword.control {
	color: #859900;
}
keyword.unit,
property-value {
	color: #859900;
}
keyword.important {
	color: #859900;
	font-weight: bold;
}
keyword.variable {
	color: #b58900;
}
keyword.other,
keyword {
	color: #859900;
}

separator.attribute,
separator.key-value {
	color: #DC322F;
}

storage.type,
global {
	color: #CB4B16;
}

namespace,
property-list.block > punctuation,
delimiter.bracket,
open.brace.square, close.brace.square,
open.brace.curly, close.brace.curly,
open-bracket, close-bracket,
open.bracket, close.bracket {
	color: #93A1A1;
	font-weight: bold;
}

pseudo-class > punctuation,
punctuation.period,
punctuation.colon,
punctuation.comma,
punctuation.backslash,
property-list > punctuation,
open-brace, close-brace,
open.brace.round, close.brace.round,
open-parenthesis, close-parenthesis {
	color: #93A1A1;
}

textile > header,
tag.h1,
tag.h1 *,
tag string punctuation,
css > punctuation.comma,
punctuation.terminator, {
	color: #DC322F;
}

processing-instruction {
	color: #657B83;
}

pseudo-class,
tag > name,
function:not(method,anonymous),
function-call {
	color: #268bd2;
}

class > name,
function > name,
css.embedded attribute-name,
css.embedded punctuation.definition.tag {
	color: #268bd2;
}

class.definition > name,
function.definition > name {
	font-weight: bold;
}

method,
property-name {
	color:#6C71C4;
}

property {
	color: #D33682;
}

selector,
variable,
vvariable {
	color: #657B83;
}

characters,
tag,
attribute-name,
punctuation.definition.tag {
	color: #657B83;
}

comment,
tag.doctype,
tag.doctype > * {
	color: rgba(1, 1, 1, .6);
}

string.quoted {
	color: #2aa198;
}

js.embedded {
	color: #657B83;
}

misc,
numeric,
constant.other,
constant.language {
	color: #b58900;
}

invalid,
comment.task {
	background-color: #dc322f;
	color: #657B83;
}

/* @group regex */
regex constant.shorthand {
	color: rgba(211, 54, 130, .6);
}
regex constant.back-reference {
	color: rgba(211, 54, 130, .8);
}
regex constant.character {
	color: rgba(181, 137, 0, .8);
}
regex literals.sequence {
	color: rgba(42, 161, 152, .8);
}
regex group.noncapturing > punctuation.definition.begin,
regex group.noncapturing > punctuation.definition.end {
	color: rgba(38, 139, 210, .4);
}
regex group > punctuation.definition.begin,
regex group > punctuation.definition.end {
	color: rgba(220, 50, 47, .8);
	font-weight: bold;
}
regex operator,
regex character-class > punctuation.definition.begin,
regex character-class > punctuation.definition.end {
	color: rgba(220, 50, 47, .8);
	font-weight: bold;
}
regex character-class constant, regex character-class operator, regex character-class punctuation {
	font-weight: normal;
}
/* @end */

/* @group Python */
python function.definition > punctuation.colon,
python punctuation.colon.keyword.control {
	color:#859900;
	font-weight:bold;
}
python string > format {
	color:#268BD2;
}
python function.definition > punctuation {
	color:#93A1A1;
	font-weight:bold;
}
python meta.decorator,
python keyword[text='import'] {
	color:#CB4B16;
}
/* @end */

/* @group Lua */
lua.operator.lenght {
	color: #cb4b16;
	font-weight: bold;
}
lua.function-call.table-key,
lua.punctuation.table-call {
	color: hsl(0, 0%, 49%);
	font-weight: bold;
}

lua.table.separator {
	color: #dc322f;
}
lua.container > delimiter.comma,
lua.function-argument > delimiter.comma {
	color: #d33682;
}
/* @end */

/* @group Tcl */
tcl.dollar,
tcl.container.evaluate-array > evaluate,
tcl.variable.punctuation {
	font-weight:bold;
}

tcl.argument-expansion,
tcl.control + s + tcl-unary,
tcl.control + s + container > tcl-unary,
tcl.function-call[text='expr'] + s + tcl-unary,
tcl.function-call[text='expr'] + s + container tcl-unary,
tcl.mathop + tcl-operator,
tcl.subst + tcl-operator,
tcl.subst + s + tcl-operator,
tcl.numeric + s + tcl-operator,
tcl.numeric + tcl-operator,
tcl.container + tcl-operator,
tcl.container + s + tcl-operator {
	color: #cb4b16;
}
tcl.unset-var {
	color: hsl(0, 79%, 50%);
	font-style: italic;
}
tcl.format-specifier {
	color: hsl(204, 69%, 48%);
}
tcl.format-type {
	font-weight:bold;
}

/* @end */

/* @group ConTeXt */
context.section,
context.function.place-complete,
context.table.cell,
context.table.row {
	font-weight: bold;
	background-color: #93a1a1;
}

context.between.brackets > comma,
context.support.function + brace > comma,
context.support.function + brace + brace > comma,
context.support.function + brace + brace + brace > comma,
context.key-name[text='location'] + assignment + brace > comma,
context.key-name[text='align'] + assignment + brace > comma,
context.key-name[text='background'] + assignment + brace > comma,
context.balanced.bracket:has-child(function[text='\\definecolorgroup']) + bracket colon {
	color: #DC322F;
}

tex.begin.math,
tex.end.math {
	color: #6c71c4;
	font-weight: bold;
}
/* @end */

/* @group MetaFun */
metafun.balanced.parentheses_and_braces > comma {
	color: #dc322f;
}
/* @end */

/* @group TeX */
context tex.begin,
context tex.end {
	color: #dc322f;
}
context tex.command.function {
	color: #dc322f;
}
/* @end */
